/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #cc90e8;
}

h1 {
  display: flex;
  justify-content: center;
  font-style: italic;
  color: #a800fc;
  font-size: 45px;
  background-color: #EFF1F4;
  padding: 15px; 
}

h2 {
  margin-top: 2em; 
  display: flex;
  justify-content: center;
  color: #a800fc;
  font-size: 2em;
}

.question {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}
  
.answer-choice img {
  height: 15em;
  width: 15em;
  border-radius: 50px;
  display: flex;
  border: 5px solid #a800fc;
}
  
  button {
    display: flex;
  justify-content: space-around;
  border-radius: 12px;
  background-color: #e7e7e7; 
  color: black;  
  font-size: 24px;
  padding: 14px 40px;
  border: 5px solid #a800fc;
 
}


  
